<div class="card">
    <img src="assets\images\martin-engel-crblx-CmCns-unsplash.jpg" class="card-img-top" alt="...">
   
    <p>Total Treasure: Where Shopping Becomes a Treasure Hunt!</p>

    <h3> Unlock a World of Shopping Wonders – Where Every Find is a Gem!</h3>


    
    <button type="button" class="btn btn-light"> <i class="fa fa-rocket"></i> Explore</button>

  </div>

  <div class="container">
   <div class="text"> <i class="fa fa-truck"></i> Free Delivery</div>
  </div>

  <div class="container">
    
    <div class="text"><i class="fa fa-gift"></i>  Exclusive Deals</div>
   </div>

   <div class="container">
    <div class="text"> <i class="fa fa-shopping-bag"></i> Shop</div>
   </div>

   <div class="container">
    <div class="text"> <i class="fa fa-headset"></i> Customer Support</div>
   </div>